@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0px;
}

.root {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.editor{
    flex: 1;
    width: 700px;
    overflow: hidden;
}

h1 {
    margin: auto;
}

.panel {
    display: flex;
    flex-direction: column;
    width: 20rem;
}

.console {
    background-color: rgb(218, 218, 218);
    height: 100%;
}
.consoleMessage {
    background-color: rgb(184, 184, 184);
    margin: 5px;
    padding-left: 8px;
    border-radius: 4px;
    font-size: larger;
}
.runBtn {
    margin: 2vh;
    background-color: rgb(78, 248, 78);
    height: 6vh;
    width: 10rem;
    border: none;
    border-radius: 7px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.switchBtn{
    padding: 1rem;
    background-color: aliceblue;
}

#stumbrsEditor{
    height: 100%;
}

#examplePicker{
    margin: 0.5rem;
}