html, body, #root{
    height: 100%;
}
body{
    margin: 0px;
}
#root{
    display: flex;
    flex-direction: row;
}
h1{
    margin: auto;
}
.panel{
    display: flex;
    flex-direction: column;
    width: 30vw;
}
.console{
    background-color: red;
    height: 100%;
}
.runBtn{
    margin: 2vh;
    background-color: rgb(78, 248, 78);
    height: 6vh;
    width: 10rem;
    border: none;
    border-radius: 7px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}