:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #006259;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: priedeFont;
  src: url(assets/DMSans-Bold.ttf);
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
img {
  width: 70%;
  margin: auto;
}
h1 {
  font-family: priedeFont;
}
button{
  border-radius: 5px;
  border: none;
  width: 5rem;
  margin: auto;
}
